<h4>Edit your task | <%= @status %> </h4>
<%= form_tag(task_path, method: "put", remote: true) do %>
  <% if @task.status == false %>
  <div class="form-group">
    	<strong>Check only if the task is finished</strong> <%= hidden_field_tag :status, @task.status, :id => "status"%>
  </div>
  <% end %>
  <div class="form-group">
      <%= label_tag("Your task:") %>
      <%= text_field_tag(:title, @task.title) %>
  </div>


  <div class="form-group">
    <%= label_tag("When is it due for ?") %>
    <%= date_field_tag(:deadline, @task.deadline)  %>
  </div>
  	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= submit_tag("Edit task", class: "btn btn-info") %>
<% end %>
<%= button_to "Delete this task", task_path(@task), method: :delete, class: "btn btn-danger" %>